[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aire.zmvm"]
	path = aire.zmvm
	url = https://github.com/diegovalle/aire.zmvm
[submodule "rsinaica"]
	path = rsinaica
	url = https://github.com/diegovalle/rsinaica
